@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-repeat: no-repeat;
    font-family: 'Plus Jakarta Sans', sans-serif
}
.main{
    display: flex;
    background: #F6F7FE;
    width: 100%;
    height: 100vh;
    flex-wrap: wrap;
    
}
.top{
    display: flex;
    float: right;
}

.pic1{
    width: 70%;
}
.pic2{
    width: 30%;
    display: flex;
    justify-content: end;
    
}
.earth2{
    display: none;
}
.pic2 .mu1{
    width: 30rem;
    height: 20rem;
}
.mu2 {
    display: none;
}

.astro{
    position: absolute;
    margin-top: 16rem;
    margin-right: 7rem;
}

.mainContent {
    width: 60%;
    display: flex;
    justify-content:end;
    gap: 4rem;
    padding: 0rem 2rem;
}

.content {
    margin-top: -10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    text-align: center;
}

.contentHead h1 {
    font-size: 2.5rem;
    margin-bottom: .5rem;
}

.contentHead p {
    font-size: .9rem;
    color: gray;
}

.contentReset {
    padding: 1rem 2rem;
    border-radius: 25px;
    border: none;
    color: #fff;
    font-size: 1.01rem;
    background-image: linear-gradient(to right, #2E85FE, #AF2EE6);
}

.ignore {
    font-size: .8rem;
    font-weight: 600;
    margin: 1rem 0rem;
}

.ignore span {
    text-decoration: underline;
}

.contentLine {
    display: block;
    height: 1px;
    width: 100%;
    background-color: #E5E5E5;
}

.contentIcons {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    font-size: 1.5rem;
    color: gray;
}
@media (width<800px) {
    .earth1 {
        display: none;

    }
    .earth2{
        display: block;
        height: 16rem;
    }
    .mu1 {
        display: none;
    }
    .mu2{
        display: block;
        height: 20rem;
    }


    .astro {
        display: none;
    }

    .mainContent{
        width: 100%;
        align-items: center;
        margin-top: 5rem;
    }

    .mainContent h1 {
        font-size: 2rem;
    }

    .content p {
        font-size: .8rem;
    }

    .ignore {
        font-size: .7rem;
        padding: 0rem 2rem;
    }

    .contentLine {
        width: 80%;
    }

    
}

@media (width<400px) {
    .earth2 {
        left: -4.5rem;
        height: 12rem;
    }

    .mu2 {
        height: 15rem;
    }
}

